@media all and ( max-width: 767px ){

	/* Mobile auth pages */

	.auth-sidebar-content-wrapper{
		width: 280px;
	}

	.auth-sidebar-header-logo{
		padding: 20px 0;
		height: 70px;
	}

	.auth-sidebar-centered-content{
		display: block;
		padding: 0 0 30px 0;
		min-height: auto;
		margin: 80px 0 0 0;
	}

	.map-location-card{
		width: calc(100% - 16px);
		top: 8px;
		left: 8px;
	}

	.map-location-card-header{
		font-size: 18px;
		line-height: 24px;
		padding: 10px 14px;
	}

	.map-location-card-content{
		padding: 14px;
	}
}