@font-face {
    font-family: 'Museo';
    src: url('MuseoSans.eot');
    src: url('MuseoSans.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans.woff') format('woff'),
        url('MuseoSans.svg') format('svg'),
        url('MuseoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
